h1 {
  font-size: 2rem;
  text-align: center;
  margin: 1em;
}

nav {
  background: skyblue;
  padding: 0.5em;
}

button {
  background: teal;
  color: white;
  border: none;
  margin: 0.5em;
  padding: 1em;
  border-radius: 3px;
}

input {
  padding: 1em;
}
